header{
    background: none;
}

header h1{
    font-size: 3em;
}
#menu{
    float: none;
    width: 90%;
    padding-top: 0.5em;
}

main{
    margin-left: 0%;
}

aside{
    float: none;
    width: auto;
    margin: 0em;
    padding: 0.3em;
}

footer{
    flex-wrap: nowrap;
    font-size: smaller;
}

footer .imgValidCode{
    width: 20%;
}

#tabellaSquadra thead,#tabellaSquadra tfoot{
    display: none;
}

#tabellaSquadra th,#tabellaSquadra td{
    display: block;
}

#tabellaSquadra th{
    color: var(--contentbgcolor);
    background-color: var(--bgcolor);
    
}

#tabellaSquadra td{
    border-top: none;
}

#tabellaSquadra{
    margin-left: 2em;
}
#tabellaSquadra td[data-title]:before{
    content: attr(data-title) ': ';
    font-weight: bold;
}