/*
GENERALE
*/
* {
    padding: 0em;
    margin: 0em;
}

:root{
    --bgcolor: rgb(3, 101, 174);
    --breadcolor: rgb(22, 63, 119);
    --text-color: #FFF;
    --news-color: #F3C42B;
    --news-txt-color: #000;
    --contentxtcolor: #000;
    --contentbgcolor: #FFF;
    --linkcolor: #FFF;
    --visitedcolor: #F3C42B;
}
html,body{
    font-size: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5em;
    background-color: var(--bgcolor);
}

html{
    background-image: url("../assets/bg.png");
    background-color: aqua;
    background-size: contain;
    background-attachment: fixed;
}
body{
    max-width: 1024px;
    margin: auto;
    border: 1px solid black;
    
}

header {
    color: var(--contentbgcolor);
    padding: 1.0;
    padding-top: 0.7em;
    margin: 0.7em;
    text-align: center;
    background: url("../assets/michielettocoppa.jpg") top left no-repeat,
                url("../assets/giannellipalleggio.jpg") bottom right no-repeat;
    background-size: 21%;
}

header h1{
    background-image: url("../assets/logo_fipav.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-indent: -9999px;
    line-height: 1.5em;
    font-size: 6em;
}
header h2{
    font-size: 1.8em;
    padding: 0.5em;
    margin-top: 0.3em;
}

main{
    background-color: var(--contentbgcolor);
    margin-left: 20%;
    padding: 5%;
}

/*
NAVIGAZIONE
*/
#menu{
    float: left;
    width: 22%;
    font-size: 1.1em;
    padding: 0.8em;
}

#menu ul{
    list-style-type: none;
}

#currentLink{
    list-style-image: url("../assets/favicon-16x16.png");
    color: var(--contentbgcolor);

}
#menu a:link,#breadcrumb a:link{
    color: var(--linkcolor);
}

#menu a:visited,#breadcrumb a:visited{
    color: var(--visitedcolor);
}

/*
NEWS
*/
aside{
    float: right;
    width: 20%;
    background-color: var(--bgcolor);
    padding: 1.5em;
    margin: 0.7em;
    border: #000 solid 1px;
}
aside h2{
    background-color: var(--news-color);
    border: #000 solid 1px;
    padding: 5%;
    margin-bottom: .3em;
}

aside dl{
    color: var(--contentbgcolor);
}

aside dt{
    font-weight: bolder;
}
aside dd{
    padding-left: 1.5em;
}


/*
BREADCRUMB
*/
#breadcrumb{
    background-color: var(--breadcolor);
    color: var(--contentbgcolor);
    font-size: 1.1em;
    padding: .5em .6em;
    border: 1px solid #000;
}

/*
FOOTER
*/
footer{
    background-color: var(--breadcolor);
    color: var(--contentbgcolor);
    margin: auto;
    padding: 0.7em 0.7em;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

footer *{
    margin: 0.3em;
}
/*
LISTS
*/

ul{
    list-style: circle inside;
}

li{
    padding: .1em 0em .1em;
}

main .accolades li{
    list-style-image: url("../assets/favicon-16x16.png");
}

main ul{
    padding: 0.5em;
    margin-left: 1.5em;
}
main h1{
    font-size: 200%;
    padding-bottom: 5%;
    line-height: 1.2em;
    text-align: center;
}

main h2{
    font-size: 175%;
    padding: 3% 0%;
    line-height: 1.2em;
}

main p{
    padding: 0.2em 0em;
}

main ul p{
    padding: 0%;
}
main ul{
    list-style: circle outside;
    padding-left: 1em;
}

/*
SQUADRA
*/
.squadra{
    display: block;
    width: 90%;
    margin: 0em 2.3em;
}
.squadra>dd{
    display: flex;
    flex-direction: row;
}
.squadra img{
    justify-content: center;
    margin: 0.7em 2em;
    border: var(--contentxtcolor) dashed 2px;
}
.squadra>dt{
    margin-top: 1em;
    background-color: var(--breadcolor);
    color: var(--text-color);
    padding: 0.7em;
    font-size: large;
    font-weight: bold;
    border: #000 solid 2px;
}
.squadra>dd{
    border: #000 solid 2px;
    border-top: none;
}

.giocatore>dt, .giocatore>dd { 
    float: left;
    margin-left: 0.2em;
}

.giocatore>dt {
    font-weight: bold;
    clear: both;
}

#trainer{
    float: left;
    max-width: 40%;
    shape-outside: margin-box;
    border-radius: 0 20% 20% 0 /40%;
    margin: 0em 2em 1em 0em;
}
/*
#0365AE
#163F77
#F3C42B
*/